body{
    background-color: #262626;
}
a{
    text-decoration: none;
}
.clearfix { 
    zoom: 1;
    display: block;
    clear: both;
    height: 0;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.header{
    height: 60px;
    line-height: 60px;
    background-color: #bd1a21;
}
.header-inner{
    background-color: #b3191f;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}
.header .logo{
    width: 200px;
    background: url(../images/logo.png) no-repeat;
    margin-left: 10px;
}
.header .logo a{
    visibility: hidden;
}
.header-left li{
    float: left;
    font-family: '微软雅黑' '宋体';
}
.header-left li a{
    height: 60px;
    line-height: 60px;
    display: inline-block;
    min-width: 100px;
    color: #efc7c7;
    font-size: 20px;
    text-align: center;
    -moz-transition:    all .2s linear;
    -ms-transition:     all .2s linear;
    -o-transition:      all .2s linear;
    -webkit-transition: all .2s linear;
    transition:         all .2s linear;
}
.header-left .sub-site{
    height: 60px;
    overflow: hidden;
}
.header-left .sub-site a:hover,
.header-left .sub-site a:focus{
    background-color: #900;
    color: white;
}
.header-search{
    float: right;
    margin-right: 10px;
}
.main-content{
    float: left;
    /* width: 630px; */
    margin-right: 28px;
}
.section{
    margin-top: 30px;

}
.title{
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    color: #bd1a21;
    border-bottom: 1px solid #b3191f;
    position: relative;
    padding-bottom: 7px;
    font-family: '微软雅黑' '宋体';
    font-weight: 100;
}
.title .title-more{
    display: inline-block;
    height: 20px;
    width: 34px;
    background: url(../images/more.png) no-repeat;
    background-position: center center;
    text-indent: -99999px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.interactive-list{
    padding: 0px 10px;
}
.interactive-item{
    padding: 10px 0;
    border-bottom: 1px solid #393939;
    /* margin: 0px 10px; */
    overflow: auto;
    font-size: 14px;
}
.interactive-item .user-avatar{
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-right: -50px;
}
.interactive-item .user-name{
    font-size: 13px;
    font-weight: bold;
    color: #747474;
}
.interactive-item .user-name:hover,
.interactive-item .user-name:focus,
.news .news-headline a:hover,
.news .news-headline a:focus,
.game-item .team:hover .team-name,
.game-item .team:focus .team-name,
.comment .comment-content a:hover,
.comment .comment-content a:focus{
    text-decoration:underline;
}

.interactive-item .comment{
    width: 490px;
    float: left;
    position: relative;
}
.interactive-item .comment .vs-teams{
    position: absolute;
    right: 1px;
    top: 0px;
    color: #525151;
    font-size: 12px;
    float: right;
}
.interactive-item .comment .comment-content{
    margin-top: 10px;
}
.interactive-item .comment .comment-content a{
    color:#a9a9a9;
}
.news .news-thumb{
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.news .news-list{
    margin-top: 10px;
}
.news .news-item{
    padding: 10px;
    overflow: hidden;
    background-color: #2f2f2f;
    margin-bottom: 20px;
    border-radius:5px;
    -moz-transition:    all .2s linear;
    -ms-transition:     all .2s linear;
    -o-transition:      all .2s linear;
    -webkit-transition: all .2s linear;
    transition:         all .2s linear;
}
.news .news-item:hover,
.news .news-item:focus{
    background-color: #424242;
}
.news .news-headline{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.news .news-headline a{
    color: #c7c7c7;
}
.news .news-content{
    float: left;
    width: 440px;
    line-height: 25px;
    font-size: 14px;
    color:#727171;
}
.container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #242424;
    padding: 0 10px 20px 10px;
    position: relative;
}
.team-select{
    width: 100%;
    padding: 5px 0;
    margin: 20px 0;
}
.team-select.select-active{
    background-color: #fff;
}
.team-select .select-btn{
    display: block;
    height: 32px;
    width: 261px;
    text-align: center;
    line-height: 32px;
    background: url(../images/select.png) no-repeat;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
    margin: 0 auto;
}
.team-list{
    position: absolute;
    background-color: #fff;
    width: 150px;
    padding-left: 7px;
    padding-bottom: 10px;
    padding: 10px 10px 10px 7px;
    display: none;
}
.select-active .team-list{
    display: block;
}
.team-list .match-name{
    background-color: #ccc;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 140px;
    margin-top: 2px;
    text-align: left;
    padding-left: 10px;
    color: #777;
}
.team-list .show .match-name,
.team-list .match-name:hover,
.team-list .match-name:focus{
    cursor:pointer;
    background-color: #fff;
    color: #000;
}
.team-list li:hover .sub-list{
    display: block;
}
.team-list .sub-list{
    display: none;
    position: absolute;
    width: 130px;
    left: 134px;
    top: 0px;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 10px;
}
.team-list .show .sub-list{
    display: block;
}
.team-list .sub-list .team-name{
    background-color: #eee;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin-top: 2px;
    text-align: center;
}
.team-list .sub-list .team-name:hover,
.team-list .sub-list .team-name:focus{
    background-color: #eef;
    color: #000;
    cursor: pointer;
}
.game-item{
    background-color: #ddd;
    padding: 10px;
    border-radius:5px;
    margin-top: 10px;
    -moz-transition:    all .2s linear;
    -ms-transition:     all .2s linear;
    -o-transition:      all .2s linear;
    -webkit-transition: all .2s linear;
    transition:         all .2s linear;
}
.game-item:hover,
.game-item:focus{
    background-color: #fff;
}
.game-item a{
    color: black;
}
.game-item .team{
    display: inline-block;
    width: 78px;
    text-align: center;
}
.game-item .team p{
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
}
.game-item .game-info{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.game-item .game-info .game-date{
    font-size: 12px;
}
.game-item .game-info .game-time{
    padding: 2px 5px;
    border-radius:3px;
    background-color: #444;
    color: #8bd210;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}
.footer{
    height: 105px;
    line-height: 60px;
    text-align: center;
    background-color: #000;
    color: white;
}
.footer .copyright{
    height: 60px;
    line-height: 60px;
}
.container{
    position: relative;
}
.right-side{
    float: right;
    width: 274px;
    position: absolute;
    right:10px;
    top: 0px;
}
