.container{
    position: static;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
.main-content{
    margin-right: 0;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}
.section{
    width: 100%;
}
.list{
    width: 100%;
}
.title .title-more{
    height: 30px;
    width: 70px;
    border-radius:2px;
    background: yellowgreen;
    text-indent: 0;
    text-align: center;
    color: white;
    right: 10px;
    top: -2px;
    font-size: 15px;
}
.slider{
    width: 100%;
    overflow:hidden;
    display: none;
}
.right-side{
    float:left;
    position:static;
    width: 100%;
}
.team-select{
    display: none;
}
.game-item .team{
    width: 33%;
}
.game-item .game-info{
    width: 30%;
}
.game-list .game-item:nth-child(n + 4){
    display: none;
}
.interactive{
    float: left;
}
.interactive-list{
    padding: 0;
}
.news{
    float: left;
}
.news .news-thumb{
    margin-right: -105px;
}
.news .news-headline{
    margin-bottom: 0px;
}
.news .news-thumb img{
    width: 105px;
    height: 75px;
}
.news .news-content{
    font-size: 16px;
    width: auto;
    margin-left: 120px;
    text-overflow:ellipsis;
}
.news .news-content .news-text{
    font-size: 16px;
    height: 50px;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header{
    background-image: url(../images/logo.png);
    background-position: center 4px;
    background-repeat: no-repeat;
    position: relative;
    z-index:99999;
}
.collapse{
    height: 35px;
    width: 35px;
    top: 10px;
    left: 10px;
    position: absolute;
}
/* .header-inner{ */
/*     display: none; */
/* } */
.header-inner li{
    display: none;
    float: none;
}
.header-inner .header-left{
    position: absolute;
    top: 50px;
    background-color: red;
    z-inde: 99999;
}
.header-inner.show-sub-site .sub-site{
    display: block;
}
.header-left{

}
.footer{
    height: 60px;
}
